* {
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  width: 960px;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-item {
  width: auto;
  height: 60px;
  flex: 1;
  border: 1px black solid;
}

.hover {
  background-color: grey;
}

.new-grid-button {
  align-self: center;
  margin: 20px;
}
